<h1>ABOUT TEAM </h1>
<h2>MINI-GAME WORLD - Number.io </h2>
<p>This mini-game is made with the contribution of all team members.</p>
<p>Every team member has contributed independently to what ideas they have. </p>

<p></p>
<a href="/game" class="btn btn-primary">Back to Game!!</a>

<a href="/" class="btn btn-primary">Back to Home!!</a>

