<h1>{{title}}</h1>
 
<section>
    <!-- Name Input -->
    <div id="name-input-container" class="d-block">
        <h2>To Start,</h2>
        <h3>Enter Your Name</h3>
        <input class="mb-4" id="nameInput" type="text">
        <button class="buttonName mt-2" id="buttonName" type="submit">PLAY</button>
    </div>
    <!-- Name Input end -->

    <!-- Game Interface -->
    <div id="game-interface-container" class="d-none"> <!-- display: none to Start -->
        <h2>Now You,</h2>
        <h3>Guess Number Between 1 to 10</h3>
        <input type="text" class="guessInput">
        <button class="btn btn-primary buttonGuess" type="submit">Guess</button>
        <button class="btn btn-danger buttonRestart" type="submit">Restart</button>
        <p class="output"></p>
        <p class="prevGuess"></p>
    </div>
    <!-- Game Interface end -->
 </section>

<a href="http://localhost:8000/" class="btn btn-primary">Back To Home!!</a>
