
<h1>WELCOME TO NUMBER GUESSING GAME </h1>
<h2>MINI-GAME WORLD - Number.io </h2>
<p>Play and make the world better place</p>
  <B>How to play</B>
  <li>first click on generate a new number</li>
    <li> it will Display a random number between 1 to 10 </li>
      <li>put number in empty box</li>
        <li>Click on guess!!</li>
          <li>Either you win or Better luck next time!! </li>
    <a href="http://localhost:8000/game" class="btn btn-primary">Click here to play</a>

