<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="scripts/socket.io.js" defer></script>
  <script src="scripts/app.js" defer></script>
</head>

<body>
  {{{body}}}
</body>

</html>